.loader {
  display: flex;
  justify-content: center;

  &__spinner {
    width: 50px;
    height: 50px;

    border: 6px solid #ccc;
    border-top-color: #1d72b8;
    border-radius: 50%;

    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
