:root {
  background-color: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;

  background-color: transparent;
  border: 1px solid transparent;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  &:focus,
  &:focus-visible 
  {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

ul, ol {
  list-style: none;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1280px;
}