.use-effect-demo {
  padding: 2rem 0;

  &__header {
    margin-bottom: 2rem;
  }

  &__title {
    margin-bottom: 0.6rem;
  }

  &__description {
    color: #6b6b6b;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 2rem;
  }
}
